<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <%= form_for(resource, as: resource_name,  :html => {:class => 'login100-form validate-form'}, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <span class="login100-form-title p-b-43">
          Sign Up
        </span>
         
        <div class="container-fluid">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <%= f.text_field :email, autofocus: true, class: "input100" %>
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>
        
        
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <%= f.password_field :password, autocomplete: "new-password", class: "input100" %>
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input100" %>
          <span class="focus-input100"></span>
          <span class="label-input100">Password Confirm</span>
        </div>
        
        <div class="container-login100-form-btn">
          <%= f.submit "Sign up", class: "login100-form-btn" %>
        </div>
        
        <div class="text-center p-t-46 p-b-20">
          <span class="txt2">
            <a href = "<%= new_user_registration_path %>">
              Login
            </a>
          </span>
        </div>

        <div class="login100-form-social flex-c-m">
        <%= link_to  user_facebook_omniauth_authorize_path, method: :post, class: 'login100-form-social-item flex-c-m bg1 m-r-5' do %>
          <i class="fa fa-facebook-f" aria-hidden="true"></i>
        <% end %>
          <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
        <% end %>
      <div class="login100-more" style="background-image: url('/Login/images/bg-01.jpg');">
      </div>
    </div>
  </div>
</div>

