<%=javascript_include_tag('manager/micropost.js') %>
<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %>
    <%= image_tag(micropost.display_image, :size => "500x280") if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words micropost.created_at %> ago.
    <div class="like">     
      <form method="" action= "<%=  %>">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="comment[user_comment_id]" value="<%= current_user.id %>"> 
        <button  type="submit" class="fas fa-thumbs-up fa-lg" id="submit_form">Like</button> 
      </form>                                     
    </div>
    <a class="reply"><i class="fa fa-reply fa-xs"></i>Comment</a>
    <% if current_user? micropost.user %>
      <%= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?"} %>
    <% end %>
  </span>
  <span>
  <div class="comment" >     
    <form method="POST" action= "/microposts/<%= micropost.id %>/comments">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= link_to gravatar_for(current_user, size: 20), current_user %>
      <input type="hidden" name="comment[micropost_id]" value="<%= micropost.id %>">
      <input type="hidden" name="comment[user_comment_id]" value="<%= current_user.id %>">
      <textarea class="form-control" name="comment[content]" placeholder="Enter your reply" > 
      </textarea>  
      <button  type="submit" class="btn btn-primary" id="submit_form">Send</button> 
    </form>                                     
  </div>
  </span>
  <span>
    <% micropost.comments.each do |comment| %>
      <div>
        <span><%= link_to gravatar_for(current_user, size: 20), current_user %>
          <%= comment.content %>
        </span>
      </div>
    <% end %>
  </span>
</li>
<style type="text/css" media="screen">
  .comment {
    display: none;
  }
  .like{
    float:right
  }
</style>


