<% provide :title, "Login" %>
<h1><%= t("session.login.login")%></h1>

<div class="wrapper fadeInDown col-md-6 col-md-offset-3">
 <div id="formContent">
  <!-- Login Form -->
  <form actions = '<%= login_path%>' method = "POST">

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <label class="control-label"  for="username"><%= t("session.login.email")%></label>
   <div class="controls">
    <input type="text" id="email" name="email" placeholder="" class="input-xlarge" >
   </div>
   
   <label class="control-label" for="password"><%= t("session.login.password")%></label>
   <div class="controls">
    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
   </div>
   <br/>
   
   <label>
     <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">
     <%= t("session.login.remember_me")%>
   </label>
   <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary"><t%= ("session.login.login")%></button>
   </div>
  </form>
  <br/>
  <!-- Remind Passowrd -->
  <div id="formFooter">
  <%= link_to t("session.login.forgot"), new_password_reset_path %>
  </div>
 </div>
</div>
