<% provide :title, "SignUp" %>
<form class="form-horizontal" action='<%= signup_path%>' method="POST">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
 <fieldset>
  <div id="legend">
    <legend class=""><%= t("users.signup.register")%></legend>

    <%= render "shared/error" %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
  </div>

  <div class="control-group">
    <!-- Username -->
    <label class="control-label"  for="name"><%= t("users.signup.username") %></label>
    <div class="controls">
      <input type="text" id="name" name="user[name]" placeholder="" class="input-xlarge" value="<%= @user.name.present? ? @user.name : ''%>">
      <p class="help-block">Username can contain any letters or numbers, without spaces</p>
    </div>
  </div>

  <div class="control-group">
    <!-- E-mail -->
    <label class="control-label" for="email"><%= t("users.signup.email") %></label>
    <div class="controls">
      <input type="text" id="email" name="user[email]" placeholder="" class="input-xlarge" value="<%= @user.email.present? ? @user.email : ''%> ">
      <p class="help-block">Please provide your E-mail</p>
    </div>
  </div>

  <div class="control-group">
    <!-- Password-->
    <label class="control-label" for="password"><%= t("users.signup.password") %></label>
    <div class="controls">
      <input type="password" id="password" name="user[password]" placeholder="" class="input-xlarge">
      <p class="help-block">Password should be at least 4 characters</p>
    </div>
  </div>

  <div class="control-group">
    <!-- Password -->
    <label class="control-label"  for="password_confirmation"><%= t("users.signup.passwordconfirm") %></label>
    <div class="controls">
      <input type="password" id="password_confirmation" name="user[password_confirmation]" placeholder="" class="input-xlarge">
      <p class="help-block">Please confirm password</p>
    </div>
  </div>

  <div class="control-group">
   <!-- Gender -->
   <div class="controls">
    <label class="control-label"  for="gender"><%= t("users.signup.gender") %></label>
    </br>
    <input type="radio" id="male" name="user[gender]" value="male">
    <label for="male"><%= t("users.signup.male") %></label><br>
    <input type="radio" id="female" name="user[gender]" value="female">
    <label for="female"><%= t("users.signup.female") %></label><br>
    <input type="radio" id="javascript" name="user[gender]" value="orther">
    <label for="javascript"><%= t("users.signup.orther")%></label>
   </div>
  </div>

  <div class="control-group">
    <!-- Button -->
    <div class="controls">
      <button type = "submit" class="btn btn-success"><%= t("users.signup.register")%></button>
    </div>
  </div>
 </fieldset>
</form>

