<p id="notice"><%= notice %></p>
<% provide :title, @user.name %>
<h1>
 <%= gravatar_for @user %>
 <%= @user.name %>
</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>BirthDay:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>

<p>
  <strong>Year:</strong>
  <%= @user.year %>
</p>
<p>
  <strong>Pass:</strong>
  <%= @user.password_digest %>
</p>

<h1>List Microposts</h1>
<div>
<% @user.microposts.each do |micro| %>
  <p><%= micro.content%> </p>
<% end %>

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
